
body{
    margin: 0;
}

header{
    background-color:rgb(52, 187, 228) ;
    width: 100%;
    padding: 1%;
}

header img{
    margin-left: 40px;

    width: 100px;
}

img{
    width: 200px;
}



.outraImagem{
    
        float: left;
        width: 200px ;
    }
    
    .outraImagem img{
    width: 100%;
}
